<% routes.forEach(function (r) { %>
<div class="route">
  <div class="handle">
    <%- link_to(r.name || 'Edit', edit_admin_route(r)) %>
    <!--%- link_to('Destroy', admin_route(r), {method: 'DELETE', }) %-->
  </div>
  <div class="helper">
    redirects to <%= r.target %>
  </div>
</div>
<% });%>

<%- link_to('New template route', new_admin_route) %>
