<% if (user) { %>
  <% if (changePasswordRequired) { %>
    Your account has been successfully activated. Strongly recommended to 
    change your password now. But you can do this later any time.

    <%- partial('users/change_password.ejs', {locals: {user: user}}) %>

  <% } else { %>
    Your email has been confirmed. <a href="/routes">Continue</a>.
  <% } %>
<% } else { %>
    Can not activate user
<% } %>
