<% if (user) { %>
  <% if (changePasswordRequired) { %>
    To activate your account please choose your password
    <%- partial('users/change_password.ejs', {locals: {user: user}}) %>

  <% } else { %>
    Your email has been confirmed. <a href="/routes">Continue</a>.
  <% } %>
<% } else { %>
    Can not activate user
<% } %>
