<form action="/users/" method="post">

  <label for="email">Email</label><br/>
  <input type="text" id="email" name="user[email]" />

  <script type="text/javascript"
    src="http://www.google.com/recaptcha/api/challenge?k=<%- recaptchaKey %>">
    </script>
    <noscript>
      <iframe src="http://www.google.com/recaptcha/api/noscript?k=<%- recaptchaKey %>"
        height="300" width="500" frameborder="0"></iframe><br>
      <textarea name="recaptcha_challenge_field" rows="3" cols="40">
      </textarea>
      <input type="hidden" name="recaptcha_response_field"
      value="manual_challenge">
    </noscript>

    <input type="submit" />

</form>
