<table>
  <% routes.forEach(function (r) { %>
    <tr>
      <td><%- link_to(r.uuid || r.id, edit_route(r)) %></td>
      <td><%= r.name %></td>
      <td><%= r.target %></td>
    </tr>
  <% });%>
</table>
