<h1>New route</h1>

<% form_for(buf, route, {action: routes}, function (form) { %>
  <%- partial('routes/form.ejs', {locals: {form: form, route: route}}) %>
  <%- form.submit('Create route') %> or
  <%- link_to('Cancel', disclaim_routes) %>
<% });%>
